@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #B2BEBF, #889C9B);
}

main {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(59, 57, 54, 0.548);
    padding: 10px;
    margin: auto;
}

h1 {
    color: #BD2A2E;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(66, 14, 16, 0.686);
}

h2 {
    color: #486966;
}

p {
    text-align: justify;
}
